# Dependency directories
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment variables
.env
backend/.env

# Build outputs
dist/
build/
frontend/dist/
frontend/build/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


# Python
venv/
.venv/
__pycache__/
*.pyc

# OCR service
backend/ocr_service/venv/
backend/ocr_service/uploads/
backend/ocr_service/routes/__pycache__/
backend/ocr_service/services/__pycache__/

# SQLite
*.sqlite
*.db
