fastapi
uvicorn
pytesseract
opencv-python-headless
pillow
python-multipart
python-docx
reportlab
google-generativeai
pymupdf
paddlepaddle
paddleocr==2.7.3
anthropic
mammoth
python-magic-bin; sys_platform == 'win32'
python-magic; sys_platform != 'win32'
pydantic-settings
slowapi
python-dotenv
openpyxl
